/*Imports*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .nav-item a:hover {
  color: green;
  transform: scale(1.2, 1.2);
  transition: all 1s; }

@media (max-width: 768px) {
  .index {
    flex-direction: column-reverse; } }

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: whitesmoke; }
  footer .ig {
    padding: 5px; }
  footer .tw {
    padding: 10px; }
  footer .facebook {
    padding: 10px; }

/*Variables*/
body {
  font-family: 'Montserrat', sans-serif; }
  body p {
    text-align: justify; }

a:hover {
  background: none;
  transform: scale(1.2, 1.2);
  transition: all 1s; }

main {
  background-color: #d4f5d4;
  color: black; }
  main .titulo {
    text-align: justify;
    margin: 5%; }

.hoteles {
  text-align: center;
  padding: 3%; }

.card-link {
  color: darkgreen;
  text-decoration: none; }
  .card-link:hover {
    color: yellowgreen; }
  .card-link .card-img-top {
    width: 500px; }

.contacto {
  text-align: center; }

.lista, .diarios {
  text-align: center;
  list-style-type: none; }
  .lista li, .diarios li {
    margin: 0.7rem;
    padding: 0.7rem; }
    .lista li:hover, .diarios li:hover {
      transform: scale(1.2, 1.2);
      transition: all 2s; }
  .lista a, .diarios a {
    text-decoration: none;
    color: black; }
    .lista a:hover, .diarios a:hover {
      color: yellowgreen;
      transform: scale(1.2, 1.2);
      transition: all 2s;
      background: none; }

.diarios {
  color: darkgray; }

.redes {
  text-align: center; }
