$color-footer:whitesmoke;

footer {
	display: flex;
	justify-content: center;
	padding: 5px;
	background-color: $color-footer;

.ig {
	padding: 5px;
}
.tw {
	padding: 10px;
}
.facebook {
	padding: 10px;
}
}