$color-fondo: #d4f5d4;
$color-footer:whitesmoke;
$color-animacion: yellowgreen;

footer {
	display: flex;
	justify-content: center;
	padding: 5px;
	background-color: $color-footer;

.ig {
	padding: 5px;
}
.tw {
	padding: 10px;
}
.facebook {
	padding: 10px;
}
}