
header {
    .nav-item {
        a {
            &:hover {
                color: green;
                transform: scale(1.2, 1.2);
                transition: all 1s;
            }
        }
    }
    }
