$color-animacion: yellowgreen;

@media (max-width:768px) {
	.index {
		flex-direction: column-reverse;
	}
	header {
		.nav-item {
			a {
				&:hover {
					color: $color-animacion;
					transform: none;
				}
			}
		}
		}
		.glorieta {
			width: 300px;
			padding: 5px;
		}
	
		.carousel2 {
			width: 180px;
		}
		
		.imagenes {
			width: 250px;
		}
	
}