/*Imports*/
@import "base";
@import "header";
@import "mixin";
@import "mediaq";
@import "footer";

/*Variables*/

$color-fondo: #d4f5d4;
$color-footer:whitesmoke;
$color-animacion: yellowgreen;


body {
	font-family: 'Montserrat', sans-serif;
    p {
        text-align: justify;
    }
}

a {
	&:hover {
		background: none;
		transform: scale(1.2, 1.2);
		transition: all 1s;
	}
}

main {
	background-color: $color-fondo;
	color: black;

.titulo {
	text-align: justify;
	margin: 5%;
}
}


.hoteles {
	text-align: center;
	padding: 3%;
}

.card-link {
	color: darkgreen;
    text-decoration: none;
    &:hover {
        color: $color-animacion;
    }
.card-img-top {
	width: 500px;
}
}

.contacto {
	text-align: center;

	
}



.lista {
	text-align: center;
	list-style-type: none;
	li {
		margin: 0.7rem;
		padding: 0.7rem;
		&:hover {
			@include animaciones;
		}
	}
	a {
		text-decoration: none;
		color: black;
		&:hover {
			color: $color-animacion;
			@include animaciones;
			background:none;
		}
	}
}


.redes {
	text-align: center;
}


