@import "header";
@import "mediaq";
@import "footer";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
    p {
        text-align: justify;
    }
}

a {
	&:hover {
		background: none;
		transform: scale(1.2, 1.2);
		transition: all 1s;
	}
}

main {
	background-color: rgb(212, 245, 212);
	color: black;

.titulo {
	text-align: justify;
	margin: 5%;
}
}

.hoteles {
	text-align: center;
	padding: 3%;
}
.card-link {
	color: darkgreen;
    text-decoration: none;
    &:hover {
        color: yellowgreen;
    }
}

.contacto {
	text-align: center;
}

.lista {
	text-align: center;
	list-style-type: none;
	li {
		margin: 0.7rem;
		padding: 0.7rem;
		&:hover {
			transform: scale(1.2, 1.2);
			transition: all 2s;
		}
	}
	a {
		text-decoration: none;
		color: black;
		&:hover {
			color: green;
			transform: scale(1.2, 1.2);
			transition: all 2s;
			background-color: whitesmoke;
		}
	}
}



