/*Animaciones*/
a:hover {
    background-color: white;
    transform: scale(1.2, 1.2);
    transition: all 1s;
}

.nav-item a:hover {
    color: green;
    transform: scale(1.2, 1.2);
    transition: all 1s;
}
body {
    font-family: 'Montserrat', sans-serif;
}


/*Main*/
main {
    background-color: rgb(212, 245, 212);
    color: black;
}
.titulo {
    text-align: center;
}
p {
    text-align: justify;
}
h2 h3 h5 {
    font-family: 'Montserrat', sans-serif;
}

/*Footer*/
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: whitesmoke;
}
.ig {
    padding: 5px;
}
.tw {
    padding: 10px;
}
.facebook {
    padding: 10px;
}
footer a:hover {
    transform: scale(1.2, 1.2);
    transition: all 1s;
}

@media (max-width:768px) {
    .index {
        flex-direction:column-reverse;
    }
}
/*Hoteles*/
.hoteles {
    text-align: center;
    padding: 3%;
}
.card-link {
    color: darkgreen;
}


/*Contacto*/
.contacto {
    text-align: center;
}
.lista {
    list-style-type: none;
    
}
.lista li {
    margin: 0.7rem;
    padding: 0.7rem;
}
.lista a {
    text-decoration: none;
    color: black;
    
    
}

.lista li:hover {
    
    transform: scale(1.2, 1.2);
    transition: all 2s;   
}
.lista a:hover {
    color: green;
    transform: scale(1.2, 1.2);
    transition: all 2s;
    background-color: whitesmoke;
}