/*Animaciones*/
a:hover {
    background-color: white;
    transform: scale(1.2, 1.2);
    transition: all 1s;
}

.nav-item a:hover {
    color: green;
    transform: scale(1.2, 1.2);
    transition: all 1s;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/*Main*/
main {
    background-color: rgb(212, 245, 212);
    color: black;
}
.titulo {
    text-align: center;
}
p {
    text-align: justify;
}

/*Footer*/
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: whitesmoke;
}
.ig {
    padding: 5px;
}
.tw {
    padding: 10px;
}
.facebook {
    padding: 10px;
}
footer a:hover {
    transform: scale(1.2, 1.2);
    transition: all 1s;
}

@media (max-width:768px) {
    .index {
        flex-direction: column;
    }
}