a:hover {
    background-color: white;
}

.nav-item a:hover {
    color: green;
}
footer {
    display: flex;
    justify-content: center;
}
.ig {
    padding: 5px;
}
.tw {
    padding: 10px;
}
.facebook {
    padding: 10px;
}